.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0);

  &.left,
  &.right,
  &.top,
  &.bottom {
    transition-duration: 0.2s;

    &.visible {
      transition-duration: 0.2s;
    }

    .modalContent {
      transition-duration: 0.2s;
      position: absolute;
      max-width: unset;
      max-height: unset;
      height: auto;
      opacity: 1;
    }
  }

  &.left {
    .modalContent {
      left: 0;
      top: 0;
      transform: translate(-100%, 0);
      width: fit-content;
      height: 100%;
      border-radius: 0 10px 10px 0;
    }
  }

  &.right {
    .modalContent {
      right: 0;
      top: 0;
      transform: translate(100%, 0);
      width: fit-content;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }

  &.top {
    .modalContent {
      left: 0;
      top: 0;
      transform: translate(0, -100%);
      width: 100%;
      height: fit-content;
      border-radius: 0 0 10px 10px;
    }
  }

  &.bottom {
    .modalContent {
      left: 0;
      bottom: 0;
      transform: translate(0, 100%);
      height: fit-content;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  &.visible {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.1s ease-out;

    .modalContent {
      transition: all 0.1s ease-out;
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

.modalContent {
  border-radius: 10px;
  background-color: #fff;
  overflow: auto;
  max-height: 70vh;
  min-width: 100px;
  min-height: 50px;
  max-width: calc(var(--dodo-root-fz, 10px) * 34.5);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  opacity: 0;
}

.content {
  padding: 15px;
  width: 100%;
  position: relative;
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
}

.footer {
  flex: none;
  position: relative;
  overflow: auto;
  padding: 15px;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isIOS {
    padding-bottom: 30px;
  }
}
