.button {
  border: none;
  border-radius: 4px;
  background-color: #f1f3f5;
  font-size: 18px;
  padding: 0 10px;
  position: relative;
  height: 40px;
  min-width: 80px;
  width: fit-content;
  text-align: center;
  color: #212529;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.size {
    &_mini {
      height: 20px;
      min-width: 50px;
      font-size: 12px;
      border-radius: 2px;
      padding: 0px 5px;
    }

    &_small {
      height: 30px;
      min-width: 70px;
      font-size: 16px;
      border-radius: 4px;
    }

    &_large {
      height: 45px;
      min-width: 100px;
      font-size: 20px;
      border-radius: 5px;
    }

    &_long {
      width: 100%;
    }
  }

  &.status {
    &_success {
      background-color: #8ce99a;
    }

    &_error {
      background-color: #ffa8a8;
    }

    &_warning {
      background-color: #ffc078;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }
  }

  &:active:not(:visited) {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
  }
}