.app {
  font-size: 0.2rem;

  &>* {
    margin-bottom: 10px;
  }
}

.buttonWrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.long {
  margin-right: 10px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  padding: 0 10px;
}

.iconItem {
  flex: none;
}

.ml10 {
  margin-left: 10px;
}