.app {
  color: red;
  font-size: 0.2rem;
}

.buttonWrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.long {
  margin-right: 10px;
}