.app {
  font-size: 0.2rem;

  &>* {
    margin-bottom: 10px;
  }
}

.buttonWrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

.long {
  margin-right: 10px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  padding: 0 10px;
}

.iconItem {
  flex: none;
}

.ml10 {
  margin-left: 10px;
}

.inputWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  flex-wrap: wrap;

.input {
    flex: 1;
  }

  .textarea {
    flex: 1;
    min-width: 90%;
    margin-top: 10px;
  }
}


.closeModalBtn {
  margin: auto;
}